h1,
h2 {
  margin: 10px;
}

#button-container {
  display: flex;
  justify-content: center;
  gap: 500px;
}

#button-container > button {
  padding: 10px;
  width: 130px;
  background-color: lightgray;
  border: 0px;
  border-bottom: gray 2px solid;
  border-radius: 5px;
}

#button-container > button:hover {
  border-top: white 1px solid;
  border-bottom: gray 1px solid;
}

#button-container > button:active {
  border-top: white 2px solid;
  border-bottom: gray 0px solid;
}
